<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enrique.rakutentv">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Actividades internas, no exportadas -->
        <activity
            android:name=".VistaUsuario"
            android:exported="false">
        </activity>

        <activity
            android:name=".FichaPelicula"
            android:exported="false" />

        <activity
            android:name=".ListaPeliculas"
            android:exported="false" />

        <activity
            android:name=".GridPeliculas"
            android:exported="false" />

        <!-- Actividad principal exportada para el launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
